html {
  font-size: 62.5%;
  cursor: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




nav p{
  display: inline;
  margin: 20px;
}
nav{
  text-align: center;
}