html {
  font-size: 62.5%;
  font-family: poppins;
  cursor: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav p{
  display: inline;
  margin: 20px;
  font-size: 2em;
}
nav{
  margin-top: 20px;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 4em;
  position: absolute;
}
.presentation{
  text-align: center;
  font-size: 2em;
}
.books{
  width: 50%;
}
.Middle-Section{
  position: relative;
}